---
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("July 10 2023")}
  updatedDate={new Date("July 10 2023")}
  heroImage="/about.jpg"
>
  <p>
    I've decided to create this blog as a place to dump all the miscellaneous
    writing I end up doing. Also, I read an article that said everyone should
    write more because it forces you to formulate your thoughts.
  </p>

  <p>
    I'm Ian by the way. I'm a software engineer, and I am interested in a
    variety of topics. Look through the blog and see if anything interests you.
  </p>
</Layout>
