---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Whatup!?</h1>
      <p>
        Thanks for stopping by the site. We love visitors around here. Check out
        the blog and see if there's anything you like. I am just getting started
        but I'll mostly be writing about web development and some random career
        stuff.
      </p>
    </main>
    <Footer />
  </body>
</html>
